.about {
  min-height: 100vh;
  background-color: #e4edea;
  padding: 0 60px;
  padding-bottom: 160px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .about {
    padding: 0 30px;
    padding-bottom: 90px;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 479px) {
  .about {
    padding: 0 15px;
    padding-bottom: 90px;
    padding-top: 15px;
  }
}
