.hero {
  height: 100vh;
  background-image: radial-gradient(
    farthest-side at 90% 40px,
    rgba(3, 28, 33, 0.9),
    #031c21
  );
  overflow: hidden;
}

/* .home {
  overflow: hidden;
} */

.latest-research {
  background-color: #e4edea;
  padding: 140px 0;
}
