.hero {
  height: 100vh;
  background-image: radial-gradient(
    farthest-side at 90% 40px,
    rgba(3, 28, 33, 0.9),
    #031c21
  );
  overflow: hidden;
}

.latest-research,
.subscribe-cta,
.testemonials {
  background-color: #e4edea;
  padding: 6.5rem 0;
}

.latest-research {
  padding-top: 12rem;
}

.testemonials {
  padding-bottom: 10rem;
}

/* testimonial card's image */
.image {
  object-fit: cover;
  border-radius: 0.5em;
  top: 3rem;
  height: 11.25rem;
  width: 11.1875rem;
  background-size: "cover";
  object-position: center 10%;
  margin-bottom: 0.3rem;
}

/* footer */
.footer {
  height: 28.125rem;
  width: 100%;
  background-color: #031c21;
  padding: 4.8rem;
}
